*{
    margin: 0;
    padding: 0;
}
.h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
header , footer{

    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;    
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 20px 0;
}

.navbar a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover{
    background-color: #555;
}

.container {
}

.home-info{text-align: center;padding: 50px 0;}
.home-info h2{
    margin-top: 0;
}
.home-info p{

margin-bottom: 23px;
}
.img-part{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.img-part img{
    max-width: 350px;
}








.content{
    
    padding: 50px 0;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: auto;
    }
    
    .contact-form input, .contact-form textarea {
        padding: 10px;
        margin: 10px 0;
        font-family: 'Open Sans', sans-serif;
    }
    
    .contact-form input[type="submit"] {
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
    }
    
    .contact-form input[type="submit"]:hover {
        background-color: #555;
    }